<!DOCTYPE html>
<html>
  <head>
  	<style>
  		html{
			box-sizing: border-box;
		}

		,:after, *:before{
			box-sizing: inherit;
		}

		*{
			
			max-height: 10000000px;
		}
		a{
		  text-decoration: none;
		  font-family: sans-serif;
		  color: #000;
		}
		body{
			border: auto;
			margin: 0px;
			font: 16px/20px;
			min-width:320px;
			font-family:"sans-serif";
			color: black;
		  background: #C1C8E4;
		  display: grid;
		}
  	</style>
    <title><%= title %></title>
    <link href="style.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div class="main-wrapper">
  		<div class="header">
  			<nav>
  				<div class="logo">
					<h1>Logo goes here.</h1>
					<ul>
						<li><a id="active" href="#">Home</a></li>
						<li><a href="#">Explore</a></li>
						<li><a href="#">About Us</a></li>
					</ul>  					
  				</div>
  			</nav>
  		<div class="main-body">
  			<div class="banner">
  				<div class="image-holder">
  				</div>
  				<div class="text-holder">
  					
  				</div>
  			</div>
  		</div>
		    <h1><%= title %></h1>
		    <p>Welcome to <%= title %></p>
		</div>
	</div>
  </body>
</html>
